<html>

<head>
<link rel='stylesheet' type='text/css' href='stylesheets/jquery-ui-1.8.13.custom.css' />
<link rel='stylesheet' type='text/css' href='stylesheets/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='stylesheets/application.css' />
<link rel='stylesheet' type='text/css' href='stylesheets/participant.css' />
<link rel='stylesheet' type='text/css' href='stylesheets/event.css' />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="http://vast-engineering.github.io/jquery-popup-overlay/jquery.popupoverlay.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script type='text/javascript' src='javascripts/fullcalendar.js'></script>
<script type='text/javascript' src='javascripts/underscore.js'></script>
<script type='text/javascript' src='javascripts/backbone.js'></script>

<script type='text/javascript' src='javascripts/layer.js'></script>
<link type="text/css" rel="stylesheet" href="stylesheets/jquery.dropdown.css" />
<script type="text/javascript" src="javascripts/jquery.dropdown.js"></script>
    

<!-- load external html 'templates' part1/2 -->
<link rel="import" id="editEventView" href="app/tmpl/editEventView.tpl.html">
<link rel="import" id="createEventView" href="app/tmpl/createEventView.tpl.html">
<link rel="import" id="messageBoxTpl" href="app/tmpl/messageBox.tpl.html">
<link rel="import" id="participantEditViewTpl" href="app/tmpl/participantEditView.tpl.html">
<link rel="import" id="participantsListViewTpl" href="app/tmpl/participantsListView.tpl.html">
</head>
<style>
body{
    margin: auto;
}
.navheader{
    background-color: #4488dd;
    height: auto;
    padding-top: 2%;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-right: 3%;
    border-bottom: 1px solid white;
    font-size: 15px;

}
.dropdown-community{
    text-align: left;
    display: inline-block;
    float: left;
}
.navtitle{
    text-align: left;
    display: inline-block;
    float: left;
    padding-left: 3%;
}
.profile-pic{
    text-align: right;
    float: right;
    display: inline-block;
}
.profile-pic img{
    width: 4%;
    display: inline-block;
    float: right;
    padding-top: 0;
}
.navheader a{
    text-decoration: none;
    color: black;
}
.navheader a:hover{
    text-decoration: none;
    color: black;
}
.jq-dropdown-menu li{
  
 }
</style>
<body style="background-color: #88aaee">



    <div class="page">


        <!-- header div-->
       <!-- <div id="cheader">
            <nav class="navbar navbar-default" style="background-color: #4488dd;">
                <div class="container-fluid">
                    <div>
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									Community 
									<span class="caret"></span>
								</a>
                                <ul id="community-drop-down" class="dropdown-menu">
                                    <li><a href="#">Community1</a></li>
                                    <li><a href="#">Community2</a></li>
                                    <li><a href="#">Community3</a></li>
                                </ul>
                            </li>
                            <li><a href="#">CSchedule</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
							<div id="editProfileImage"></div>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <span id="gUser-display">TonyDing </span>
                                    <span class="caret"></span>
                                </a>
                                <ul id="users-drop-down" class="dropdown-menu">
                                    <li><a href="#">Bill Grek</a></li>
                                    <li><a href="#">Irene</a></li>
                                    <li><a href="#">Mark</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>-->
               <div class="navheader">
            <div class="dropdown-community">
                <a href="#" data-jq-dropdown="#jq-dropdown-1">Community</a>
                <div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip">
                    <ul class="jq-dropdown-menu">
                        <li><a href="#1">Community1</a></li>
                         <li class="jq-dropdown-divider"></li>
                        <li><a href="#2">Community2</a></li>
                         <li class="jq-dropdown-divider"></li>
                        <li><a href="#3">Community3</a></li>
                    </ul>
                </div>
            </div>
            <div class="navtitle"><a href="#">CSchedule</a></div>
            <div class="profile-pic">
                 <a href="#" data-jq-dropdown="#jq-dropdown-2">Tony Ding</a>
                    <div id="jq-dropdown-2" class="jq-dropdown jq-dropdown-tip">
                    <ul class="jq-dropdown-menu">
                        <li><a href="#1">Bill Creak</a></li>
                         <li class="jq-dropdown-divider"></li>
                        <li><a href="#2">Irene</a></li>
                         <li class="jq-dropdown-divider"></li>
                        <li><a href="#3">Mark</a></li>
                    </ul>
                </div>
            </div>
        </div>



        <!-- Body div-->
        <div id="cbody">

            <!-- community list view div -->
            <div class="community-list-view">

                <div class="nav-body"></div>

                <div class="new-community-div">
                    <div class="container">
                        <div id="new_community_btn">
                            <div class="createCommunity" style="display:none">Create New Community
                                <div>Community Name</div>
                                <input type="text" id="input" />
                                <button class="btn-create">Create</button>
                                <button class="cancel-create">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="edit-community-div">
                    <div class="container">
                        <div id="edit_community_btn">
                            <div class="editCommunity" style="display:none">Edit Community
                                <div>communityname</div>
                                <div style="float:right">
                                    <button class="btn-edit-save">save</button>
                                    <button class="btn-edit-cancel">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="remove-community" style="display:none">
                    <button class="btn-remove">Remove</button>
                </div>


                <button class="create-btn" type="button"> + Create new Community</button>

            </div>

        </div>
    </div>

    <!-- community show view -->
    <div class="community-show" style="display:none; background-color: #88aaee;">
        <div class="panel panel-default" style="background-color: #88aaee; ">
            <div class="panel-heading" style="background-color: #88aaee; height: 50px;">
                <div>
                    <span id="showName" class="panel-title" style="font-size: 14pt; color: white; font-weight:bolder; font-family: Avenir; position:absolute; left:32px; padding-right:30px;"></span>
                </div>
                <div style="position: absolute; display: inline-block; right: 6px;">
                    <!--<a class="button chatbutton" href="#community-chat-popup">Chat</a> -->
                    <span id="eventDialogView">
                      <button id="createBtn">+ Create Event</button>
                    </span>
                </div>
            </div>

            <br>
            
            <div class="panel panel-default" style="margin-left: 36px; margin-top:0px;">
                <div id="eventView" style="background-color: #4444FE; color: white; height: 48px; padding-top: 12px;"></div>
                <br>
                <div id="event1_title" style="float:left; margin-top: 53px;"></div>

                <div id='calendar' style="display:inline-block"></div>

                <div class="page"></div>

                <div id="messageDialog"></div>

                <div id="helperpool"> </div>

                
                <div class="ReqChat">
                    <img height=200 src="./images/ReqChat.png">
                </div>

                <div class="ReqRes">
                    <div>
                        <div style="display: inline-block; width: 10%; margin-right: 6px;">
                            <img class="face" height=22 src="./images/Bill.png">
                        </div>
                        <div style="display: inline-block; width: 74%;">
                            <div class="reqtype">You need a swap on
                            </div>
                            <div class="dateLarge">Saturday, Sept 12
                            </div>
                        </div>
                    </div>
                    <img height=200 src="./images/ReqRes.png">
                </div>
            </div>

        </div>

        <div id="show-tasks" style="color:blue; display:none">Show Tasks</div>

    </div>
    <!--- end of CommunityView -->
	<!--- editparticipantdialog-->

    <script type="text/template" id="users-dropdown-template">
        <% _.each(loggedInUsers, function(user) { %>
            <li><a href="#">"<%= htmlEncode(user.get("name")) %>" </a></li>
        <% }); %>
    </script>
    <script type="text/template" id="chats-template">
        <% _.each(chats, function(chat) { %>
            <li><a href="#">"<%= htmlEncode(chat.get("message")) %>" </a></li>
        <% }); %>
    </script>
    <script type="text/template" id="reQres-template">
        <% _.each(chats, function(chat) { %>
            <li><a href="#">"<%= htmlEncode(chat.get("message")) %>" </a></li>
        <% }); %>
    </script>
    <script type="text/template" id="message-template">
        <% _.each(msgs, function(message) { %>
            <li>
                <%= message.sender.user_id%>: <%= htmlEncode(message.parts[0].body) %>
            </li>
        <% }); %>
    </script>

    <script type="text/template" id="events-template">
        <% _.each(events, function(message) { %>
            <li>
                <%= message.%>: <%= htmlEncode(message.parts[0].body) %>
            </li>
        <% }); %>
    </script>



    <!-- load external html 'templates' part2/2 -->
    <script>
        var editEventView = document.querySelector("#editEventView").import.querySelector('#editEventView');
        var createEventView = document.querySelector("#createEventView").import.querySelector('#createEventDialog');

        document.body.appendChild(editEventView.cloneNode(true));
        document.body.appendChild(createEventView.cloneNode(true));
		
		function loadTemplate(importID, templateID) {
			var t = document.querySelector(importID),
				t = t.import.querySelector(templateID),
				t = t.content.cloneNode(true);
			return t;
		}
		$("body").append(loadTemplate("#participantsListViewTpl","#participantsListTemplate"));
		
		
    </script>

    
    <!-- Global Variables  !-->
    <script type="text/javascript">
        var gFetchedEvents;
        var communityEvents;

        var communityListView;
        var gParticipantsListView;
        var userAddView;
        var participantView;
        var gEventsView;
        var gEventView;
        
        var gEvents;
        var gParticipants;
        var gTasks;
        var gTaskAssignees;
        var gTaskHelpers;

        var gLoginUserId;
        
        var gLatestCommunityId;
        var gLatestEventId;
        var gLatestTaskId;
        var gLatestTaskHelperId;
		var gLatestParticipantId;
        var gLoginUser;
        var gLoginUserName;
		var gSelectedCommunityId;
		
        var gSeverSetting;


        $(document).ready(function() {
            gLoginUser			= JSON.parse(localStorage.getItem("login_user"));
            gLoginUserId         = gLoginUser.ownerid;
            gLatestCommunityId   = gLoginUser.communityid;
            gLatestEventId       = gLoginUser.eventid;
            gLatestTaskId        = gLoginUser.taskid;
            gLatestTaskHelperId  = gLoginUser.taskhelperid;
			gLatestParticipantId = gLoginUser.participantid;
            gLoginUserName       = gLoginUser.username;
			gSelectedCommunityId = 
            

            communityEvents   = new EventsC();
            communityListView = new CommunityListView();
            communityListView.render();

            var createEvent = new eventDialogView();
            createEvent.render();

            layersample.config.userId = gLoginUser.username; //"kalyani";
            layersample.config.userId = "kalyani";

            /*
              getNonce();

              // Use the nonce to get an identity token
              .then(function(nonce) {
                  return getIdentityToken(nonce);
              })

              // Use the identity token to get a session
              .then(function(identityToken) {
                  return getSession(identityToken);
              })

              // Store the sessionToken so we can use it in the header for our requests
              .then(function(sessionToken) {
                  layersample.headers.Authorization =
                      'Layer session-token="' + sessionToken + '"';


                  // Now we can do stuff, like get a list of conversations
                  //return getConversations();
              })
            */
			
			/* Load Profile Image */
			$('#editProfileImage').css('background-image','url(' + gLoginUser.profile + ')');
        });
    </script>

    
    
    <script>
		var slider_widthB;
        $('body').on('click','#sidebar-hide-btn', function() {
			slider_widthB = $('#ParticipantDiv').width(); 
			$('#ParticipantDiv').animate({width: 0}, 'slow', 'easeInQuart');
			$('#sidebar-hide-btn').attr('id', 'sidebar-show-btn');
			$(".participantList").toggle( "fast", function() {});
		});
		$('body').on('click','#sidebar-show-btn', function() {
			$('#ParticipantDiv').animate({width: '+=' + slider_widthB}, 'slow', 'easeOutBounce');
            $('#sidebar-show-btn').attr('id', 'sidebar-hide-btn');
            $(".participantList").toggle( "fast", function() {});
		});
		
		$('#editProfileImage').click(function(e){
			//So that this function does not affect its children
			if (e.target != this) {
				return;
			} 
			//Create new if doesn't exist
			if ($("#editProfileImage").children().length == 0) {
				participantView = new ParticipantView();
				participantView.render();
			}
			//Hide and show
			$("#participant-show").toggle( "fast", function() { 
				// Animation complete.
			});
		});
    </script>

    <script type='text/javascript' src="utils/ajaxutil.js"></script>
    <script type='text/javascript' src="utils/common.js"></script>
	<script type='text/javascript' src="utils/imageUtils.js"></script>

    <script src="app/js/collections/communities.js"></script>
    <script src="app/js/models/community.js"></script>
    <script src="app/js/views/CommunityListView.js"></script>
    <script src="app/js/views/CommunityEditView.js"></script>
    <script src="app/js/views/CommunityView.js"></script>
    <script src="app/js/collections/users.js"></script>
    <script src="app/js/models/user.js"></script>
    <script src="app/js/router.js"></script>
	<script src="app/js/views/ParticipantsListView.js"></script>
    <script src="app/js/views/UserAddView.js"></script>
    <script src="app/js/collections/loggedInUsers.js"></script>
    <script src="app/js/models/loggedInUser.js"></script>
    <script src="app/js/models/communityChat.js"></script>
    <script src="app/js/collections/communityChats.js"></script>
    <script src="app/js/models/participant.js"></script>
    <script src="app/js/views/ParticipantView.js"></script>
    <script src="app/js/views/EventsView.js"></script>
    <script src="app/js/views/DialogView.js"></script>
    <script src="app/js/views/ReQResView.js"></script>
    <script src="app/js/collections/participants.js"></script>
    <script src="app/js/models/taskHelper.js"></script>
    <script src="app/js/collections/taskHelpers.js"></script>
    <script src="app/js/models/task.js"></script>
    <script src="app/js/collections/tasks.js"></script>
    <script src="app/js/views/TaskView.js"></script>
    <script src="app/js/views/EventView.js"></script>
    <script src="app/js/collections/Events.js"></script>
    <script src="app/js/models/eventDialog.js"></script>
    <script src="app/js/views/eventDialogView.js"></script>
</body>

<!-- please leave the following two lines here -->
<link rel="stylesheet" type="text/css" href="stylesheets/jquery.datetimepicker.css">
<script src="javascripts/jquery.datetimepicker.js"></script>

</html>